* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 61.8em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #615551;
  background: linear-gradient(to right bottom, #91c24c, #91c24c, #fbd849);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  margin: auto;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 47.8em) {
  .container {
    flex-direction: column;
  }
}

.btn, .btn--small, .btn--small:link, .btn--small:visited {
  background-color: #44813e;
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.btn:hover, .btn--small:hover {
  transform: scale(1.05);
}

.btn:focus, .btn--small:focus {
  outline: none;
}

.btn > *:first-child, .btn--small > *:first-child {
  margin-right: 1rem;
}

.btn {
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor;
}

.btn--small, .btn--small:link, .btn--small:visited {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.25rem 2.25rem;
  text-decoration: none;
}

.btn--small svg, .btn--small:link svg, .btn--small:visited svg {
  height: 1.75rem;
  width: 1.75rem;
  fill: currentColor;
}

.btn--inline {
  color: #44813e;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  background-color: #f9f5f3;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.btn--inline svg {
  height: 1.6rem;
  width: 1.6rem;
  fill: currentColor;
  margin: 0 0.2rem;
}

.btn--inline span {
  margin: 0 0.4rem;
}

.btn--inline:hover {
  color: #91c24c;
  background-color: #f2efee;
}

.btn--inline:focus {
  outline: none;
}

.btn--round {
  background-image: linear-gradient(to right bottom, #91c24c, #91c24c, #fbd849);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 30.4em) {
  .btn--round {
    z-index: 99;
  }
}

.btn--round:hover {
  transform: scale(1.07);
}

.btn--round:focus {
  outline: none;
}

.btn--round svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: #fff;
}

.btn--tiny {
  height: 2rem;
  width: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.btn--tiny svg {
  height: 100%;
  width: 100%;
  fill: #44813e;
  transition: all 0.3s;
}

.btn--tiny:focus {
  outline: none;
}

.btn--tiny:hover svg {
  fill: #91c24c;
  transform: translateY(-1px);
}

.btn--tiny:active svg {
  fill: #91c24c;
  transform: translateY(0);
}

.btn--tiny:not(:last-child) {
  margin-right: 0.3rem;
}

.heading--2 {
  font-size: 2rem;
  font-weight: 700;
  color: #44813e;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
}

.link:link,
.link:visited {
  color: #918581;
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}

.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: #44813e;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.message,
.error {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;
  display: flex;
}

.message svg,
.error svg {
  height: 3rem;
  width: 3rem;
  fill: #44813e;
  transform: translateY(-0.3rem);
}

.message p,
.error p {
  margin-left: 1.5rem;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
}

.header {
  height: 70vh;
  background-image: url(../src/img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

@media only screen and (max-width: 61.8em) {
  .header {
    height: 100vh;
  }
}

.logo {
  background-color: #f9f5f3;
  border: 0.2rem solid #91c24c;
  position: absolute;
  top: 2rem;
  left: 6rem;
  width: 10rem;
  height: 10rem;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.logo:hover {
  background-color: #f2efee;
}

.logo:focus {
  outline: none;
}

.logo__img {
  width: 8rem;
  height: 8rem;
  padding: 1rem;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@media only screen and (max-width: 47.8em) {
  .hero {
    width: 80%;
  }
}

.hero-title {
  margin: 0 auto;
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  width: max-content;
  color: #fffadd;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 900;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 47.8em) {
  .hero-title {
    width: 100%;
  }
}

.hero-subtitle {
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  width: max-content;
  color: #fffadd;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

@media only screen and (max-width: 47.8em) {
  .hero-subtitle {
    width: 100%;
  }
}

.preview__link:link, .preview__link:visited {
  display: flex;
  align-items: center;
  padding: 1.5rem 3.25rem;
  transition: all 0.3s;
  text-decoration: none;
}

.preview__link:hover {
  background-color: #f9f5f3;
  transform: translateY(-2px);
}

.preview__link--active {
  background-color: #f9f5f3;
}

.preview__fig {
  flex: 0 0 5.8rem;
  border-radius: 50%;
  overflow: hidden;
  height: 5.8rem;
  margin-right: 2rem;
  position: relative;
}

.preview__fig img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.preview__data {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2rem;
  row-gap: 0.1rem;
  align-items: center;
}

.preview__title {
  grid-column: 1/-1;
  font-size: 1.45rem;
  color: #44813e;
  text-transform: uppercase;
  font-weight: 600;
}

.preview__publisher {
  font-size: 1.15rem;
  color: #918581;
  text-transform: uppercase;
  font-weight: 600;
}

.search-results {
  width: 60rem;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 61.8em) {
  .search-results {
    width: 50rem;
  }
}

@media only screen and (max-width: 47.8em) {
  .search-results {
    width: 100%;
  }
}

.results {
  list-style: none;
  position: relative;
}

.pagination {
  margin-bottom: auto;
  padding: 3rem 3.5rem;
}

.pagination::after {
  content: '';
  display: table;
  clear: both;
}

.pagination__btn--prev {
  float: left;
}

.pagination__btn--next {
  float: right;
}

.recipe-search {
  padding: 5rem 0;
  width: 90%;
  height: 30vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 47.8em) {
  .recipe-search {
    height: 15rem;
  }
}

.search {
  position: relative;
  margin: auto;
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding: 1.3rem 4rem;
  transition: all 0.3s;
}

@media only screen and (max-width: 61.8em) {
  .search {
    width: 50rem;
  }
}

@media only screen and (max-width: 47.8em) {
  .search {
    width: 50rem;
    padding: 1.3rem 4rem;
  }
}

@media only screen and (max-width: 30.4em) {
  .search {
    width: 40rem;
  }
}

.search:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(97, 85, 81, 0.08);
}

.search__field {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  width: 50rem;
}

.search__field:focus {
  outline: none;
}

.search__field::placeholder {
  color: #d3c7c3;
}

@media only screen and (max-width: 61.8em) {
  .search__field {
    width: auto;
  }
  .search__field::placeholder {
    color: white;
  }
}

.search__btn {
  font-weight: 600;
  font-family: inherit;
  position: absolute;
  right: 0;
}

.nav {
  align-self: stretch;
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
}

.nav__item {
  position: relative;
  display: flex;
  align-items: center;
}

.nav__btn {
  height: 5rem;
  font-family: inherit;
  color: #44813e;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 1.5rem;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.nav__btn:focus {
  outline: none;
}

.nav__btn:hover {
  background-color: #f2efee;
}

.bookmarks {
  padding: 1rem 0;
  position: absolute;
  right: -2.5rem;
  top: 10rem;
  z-index: 100;
  width: 40rem;
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgba(97, 85, 81, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;
}

@media only screen and (max-width: 30.4em) {
  .bookmarks {
    right: 0;
  }
}

.bookmarks__list {
  list-style: none;
}

.bookmarks__field {
  cursor: pointer;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  height: 100%;
  transition: all 0.3s;
}

.bookmarks__field:hover {
  background-color: #f2efee;
}

.bookmarks:hover,
.nav__btn--bookmarks:hover + .bookmarks {
  visibility: visible;
  opacity: 1;
}

.recipe {
  background-color: #f9f5f3;
  width: 100%;
  /****** FIGURE *****/
  /****** DETAILS *****/
  /****** INGREDIENTS *****/
  /****** DIRECTIONS *****/
}

.recipe__fig {
  position: relative;
  display: flex;
  flex-direction: column;
}

.recipe__img {
  width: 300px;
  display: block;
  height: 300px;
  object-fit: cover;
}

@media only screen and (max-width: 61.8em) {
  .recipe__img {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 30.4em) {
  .recipe__img {
    width: 100%;
  }
}

.recipe__header {
  display: flex;
  position: relative;
}

.recipe__title {
  color: #44813e;
  font-weight: 700;
  font-size: 3.25rem;
  text-transform: uppercase;
  line-height: 1.95;
  padding: 2rem 0;
}

@media only screen and (max-width: 61.8em) {
  .recipe__title {
    font-size: 2.5rem;
    width: 70%;
    padding: 1rem 0;
  }
}

@media only screen and (max-width: 47.8em) {
  .recipe__title {
    font-size: 2.2rem;
    width: 100%;
  }
}

@media only screen and (max-width: 30.4em) {
  .recipe__title {
    font-size: 2.5rem;
    z-index: 99;
  }
}

.recipe__details {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 30.4em) {
  .recipe__details {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 2rem 4rem;
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
  }
}

.recipe__info-block {
  display: flex;
  margin: 3rem 0;
}

@media only screen and (max-width: 61.8em) {
  .recipe__info-block {
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 47.8em) {
  .recipe__info-block {
    flex-direction: column;
  }
}

@media only screen and (max-width: 30.4em) {
  .recipe__info-block {
    flex-direction: row;
    z-index: 99;
  }
}

.recipe__info {
  font-size: 1.65rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.recipe__info:not(:last-child) {
  margin-right: 4.5rem;
}

.recipe__info-icon {
  height: 2.35rem;
  width: 2.35rem;
  fill: #44813e;
  margin-right: 1.15rem;
}

.recipe__info-data {
  margin-right: 0.5rem;
  font-weight: 700;
}

.recipe__info-buttons {
  display: flex;
  margin-left: 1.6rem;
  transform: translateY(-1px);
}

.recipe__ingredients {
  padding: 5rem 8rem;
  font-size: 1.6rem;
  line-height: 1;
  background-color: #f2efee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 47.8em) {
  .recipe__ingredients {
    padding: 2em 3rem;
  }
}

.recipe__ingredient-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem 3rem;
  list-style: none;
}

@media only screen and (max-width: 30.4em) {
  .recipe__ingredient-list {
    display: flex;
    flex-direction: column;
  }
}

.recipe__ingredient {
  display: flex;
}

.recipe__icon {
  height: 2rem;
  width: 2rem;
  fill: #44813e;
  margin-right: 1.1rem;
  flex: 0 0 auto;
  margin-top: 0.1rem;
}

.recipe__quantity {
  margin-right: 0.5rem;
  flex: 0 0 auto;
}

.recipe__directions {
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 47.8em) {
  .recipe__directions {
    padding: 3rem 4rem;
  }
}

.recipe__directions-text {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 3.5rem;
  color: #918581;
}

.recipe__publisher {
  font-weight: 700;
}
